@import "tailwindcss";

@theme {
  --color-primary: #ee2bee;
  --color-secondary: #f8f6f8;
  --color-background: #000000;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(175, 37, 244, 0.2);
}
.neon-glow-purple:hover {
  box-shadow: 0 0 25px rgba(175, 37, 244, 0.4);
}
.staggered-item:nth-child(even) {
  transform: translateY(20px) rotate(1deg);
}
.staggered-item:nth-child(odd) {
  transform: translateY(-10px) rotate(-1deg);
}
